nav {
    background-color: rgb(20, 19, 20);
    border-radius: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: rgb(237, 236, 237);
    padding: 10px 20px;
    display: block;
    font-size: 1.3rem;

}

.menu a:hover {
    background-color: #416060;
    border-radius: 5px;
}